@import"./global.scss";

.acts--wrapper {
   width: 100%; 
   height: 85vh;
   justify-content: center;
   
   flex-direction: column;
   display: flex;
}

.acts--header {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: $font-header;
    font-size: 1.5rem;
    color: $white;
}

.acts--card_display {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}