/* fonts */

$font-header: "Playfair Display";
$font-main: "Roboto";

/* colors */
$black1: #131313;
$black2: #2d2c2c;
$gold: #d9a13b;
$white: #fffefe;
$pink: #d9b5a0;
$blue: #530de8;


body{
  font-family: $font-main;
  height: 100%;
  background-color: $black1;
  scroll-behavior: smooth;
  //scroll-padding-right: 10px;
  //scrollbar-width: 50px;
  width: 100%;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

.App {
  display: flex;
  justify-content: center;
  height: 100%;
}

#root {
  height: 100%;
}




