@import "./global.scss";

// .header--wrapper {
//   //height: 100vh;
//   display: flex;
//   //background-image: url("../images/magic.jpg");
//   background-repeat: no-repeat;
//   background-size: cover;
//   align-items: center;
//   justify-content: center;
//   animation-name: slow;
//   transition: opacity 3s ease 5s;
//   font-family: $font-header;
//   z-index: -2;
// }
.home--icon {
  outline: none;
  cursor: pointer;
  width: 40px;
}
.header--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $black1;
  padding: 0 5% 0 5%;
  width:90%;
  height: 90%;
}
.header--title {
  font-family: $font-header;
  font-size: 1.9em;
  color: $white;
  justify-content: center;
  text-align: center;
}

.header--text {
  font-family: $font-main;
  font-size: 1em;
  color: $white;
  text-align: center;
  font-weight: 500;
  line-height: 1.6em;
}
