@import "./global.scss";

.header--wrapper {
  height: 90vh;
  display: flex;
  background-image: url("../images/magic.jpg") ;
  
 
  
  background-repeat: no-repeat;
  
  background-size: cover;
  //width: 100%;
  align-items: center;
  justify-content: center;
  animation-name: slow;
  transition: opacity 3s ease 5s;
  font-family: $font-header;
}

.header--container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 50%;
  
}

.header--title {
  font-family: $font-header;
  font-size: 8vw;
  color: $white;
  text-align: center;
  text-align: justify;
}
